:root{
    /* Global Colors */
    --ll-light-blue: #00b2ef;
    --ll-dark-blue: #4982c3;
    --ll-white: #f9f9f9;
    --ll-offwhite: rgba(242, 242, 242, 0.5);
    --ll-offwhite-solid: rgba(242, 242, 242, 1);
    --ll-black: black;
    --ll-grey: #cccbcb;
    --ll-light-grey: #e4e1e1;
    --ll-light-border: #e8e8e8;
    --ll-dark-border: #c4bfc2;
    --ll-grey-hover: rgba(204, 203, 203, 0.65);
    --ll-primary-light-blue: #00b0da;
    --ll-primary-dark-blue: #0083bc;
    --ll-secondary-dark-blue: #023155;
    --ll-secondary-light-blue: #6987b2;
    --ll-green: #8cc63f;
    --ll-red: #f04e37;
    --ll-dark-grey: #1b1b1b;
    --ll-pink: #f8d7e3;
}

@font-face {
    font-family: IBMBold;
    src: url('fonts/IBMPlexSans-Bold-V01.1.otf');
}

@font-face {
    font-family: IBMBoldItalic;
    src: url('fonts/IBMPlexSans-BoldItalic-V01.1.otf');
}

@font-face {
    font-family: IBMCondensed;
    src: url('fonts/HelvNeueCondforIBM.otf');
}

@font-face {
    font-family: IBMLight;
    src: url('fonts/IBMPlexSans-Light-V01.1.otf');
}

@font-face {
    font-family: IBMLightCondensed;
    src: url('fonts/HelvNeueLightCondforIBM.otf');
}

@font-face {
    font-family: IBMLightItalic;
    src: url('fonts/IBMPlexSans-LightItalic-V01.1.otf');
}

@font-face {
    font-family: IBMMedium;
    src: url('fonts/IBMPlexSans-Medium-V01.1.otf');
}

@font-face {
    font-family: IBMMediumItalic;
    src: url('fonts/IBMPlexSans-MediumItalic-V01.1.otf');
}

@font-face {
    font-family: IBMRoman;
    src: url('fonts/IBMPlexSans-Regular-V01.1.otf');
}


@font-face {
    font-family: IBMRomanItalic;
    src: url('fonts/IBMPlexSans-Italic-V01.1.otf');
}
